@mixin mQ($wdt) {
  @media screen and (min-width: $wdt) {
    @content;
  }
}

@mixin bgs($urlDesktop, $urlTablet, $urlMobile) {
  background-image: url($urlMobile);
  @include mQ(450px) {
    background-image: url($urlTablet);
  }
  @include mQ(1024px) {
    background-image: url($urlDesktop);
  }
}

@mixin h5 {
  color: $white;
  font: $h5;
  font-size: 16px;
  letter-spacing: $ls2;
  @include mQ(480px) {
    font-size: 20px;
  }
  @include mQ(1024px) {
    letter-spacing: $ls1;
  }
}

@mixin pbody {
  color: $lightBlue;
  font: $body;
  line-height: 25px;
  @include mQ(480px) {
    line-height: 28px;
  }
  @include mQ(1024px) {
    line-height: 32px;
  }
}

@mixin heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mQ(480px) {
    justify-content: flex-start;
  }

  h1 {
    @include h5;
    text-indent: 19px;
  }

  span {
    @include h5;
    color: rgba(255, 255, 255, 0.5);
  }
}

@mixin content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @include mQ(1024px) {
    align-items: flex-start;
    gap: 35px;
    width: 45%;
  }
}

@mixin main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: 24px 29px;
  @include mQ(480px) {
    margin: 30px;
  }
  @include mQ(1024px) {
    flex-flow: row wrap;
    gap: 40px;
    margin: 45px 30px;
    padding: 0 40px;
  }
}
