@import url(https://fonts.googleapis.com/css2?family=Bellefair&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap);

/*  Colors */

$dark: rgba(11, 13, 23, 1);
$lightBlue: rgba(208, 214, 249, 1);
$white: rgba(255, 255, 255, 1);

/* Typography */

$h1: 150px 'Bellefair';
$h2: 100px 'Bellefair';
$h3: 56px 'Bellefair';
$h4: 32px 'Bellefair';
$h5: 28px 'Barlow Condensed';

$sh1: 28px 'Bellefair';
$sh2: 14px 'Barlow Condensed';

$nav: 16px 'Barlow Condensed';

$body: 18px 'Barlow Condensed';

/* Letter spacing */
$ls1: 4.75px;
$ls2: 2.7px;
$ls3: 2.35px;



